# Tasas de vacunación covid

In [2]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cdc.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cdc.gov,
#                  MyAppToken,
#                  username="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("8xkx-amqh", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [ ]:
#https://dev.socrata.com/foundry/data.cdc.gov/8xkx-amqh

#https://coronavirus.jhu.edu/vaccines/international
results_df

,date,fips,mmwr_week,recip_county,recip_state,completeness_pct,administered_dose1_recip,administered_dose1_pop_pct,administered_dose1_recip_5plus,administered_dose1_recip_5pluspop_pct,...,census2019_18pluspop,census2019_65pluspop,bivalent_booster_5plus,bivalent_booster_5plus_pop_pct,bivalent_booster_12plus,bivalent_booster_12plus_pop_pct,bivalent_booster_18plus,bivalent_booster_18plus_pop_pct,bivalent_booster_65plus,bivalent_booster_65plus_pop_pct
0,2023-05-10T00:00:00.000,55129,19,Washburn County,WI,96.7,11123,70.8,11097,73.9,...,12758,4304,3978,26.5,3955,28.6,3899,30.6,2588,60.1
1,2023-05-10T00:00:00.000,19173,19,Taylor County,IA,97.3,3149,51.4,3145,55,...,4687,1392,841,14.7,841,16.3,834,17.8,588,42.2
2,2023-05-10T00:00:00.000,36059,19,Nassau County,NY,97.5,1391226,95,1384503,95,...,1065968,246690,236202,18.4,231748,19.8,224931,21.1,109947,44.6
3,2023-05-10T00:00:00.000,48281,19,Lampasas County,TX,98.9,11678,54.5,11660,57.4,...,16799,4322,1951,9.6,1947,10.5,1925,11.5,1229,28.4
4,2023-05-10T00:00:00.000,26145,19,Saginaw County,MI,94,104075,54.6,NaN,NaN,...,149676,37414,15618,8.7,15448,9.4,15112,10.1,7921,21.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2023-05-10T00:00:00.000,UNK,19,Unknown County,KY,94.1,202928,NaN,202603,NaN,...,NaN,NaN,18493,NaN,18294,NaN,17868,NaN,8725,NaN
1996,2023-05-10T00:00:00.000,51121,19,Montgomery County,VA,78.1,55767,56.6,55362,58.6,...,83465,13025,11826,12.5,11546,13.1,11095,13.3,4162,32
1997,2020-12-25T00:00:00.000,48405,52,San Augustine County,TX,0,0,0,NaN,NaN,...,6634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,2023-05-10T00:00:00.000,48407,19,San Jacinto County,TX,98.9,11583,40.1,11568,42.4,...,22737,6488,1446,5.3,1440,5.8,1424,6.3,930,14.3
1999,2023-05-10T00:00:00.000,29223,19,Wayne County,MO,91.3,5603,43.5,5595,45.8,...,10261,3131,865,7.1,862,7.7,853,8.3,573,18.3

# Censo US

In [8]:
import requests
import pandas as pd

# Tu API key
API_KEY = '29caaead12373544ff9fb7db17cb01532b2e2468'


# Año y dataset: American Community Survey 5-year estimates
year = '2021'
dataset = 'acs/acs5'

# Variables    
variables = {
    'B01003_001E': 'total_population',
    'B19013_001E': 'median_income',
    'B17001_002E': 'population_below_poverty',
    'B01001_020E': 'males_65_66',    
    'B01001_021E': 'males_67_69',
    'B01001_044E': 'females_65_66',
    'B01001_045E': 'females_67_69',
    'B15003_022E': 'bachelor_degree',
    'B27010_017E': 'uninsured_total'
}

var_string = ",".join(variables.keys())

 
url = f"https://api.census.gov/data/{year}/{dataset}?get=NAME,{var_string}&for=county:*&in=state:*&key={API_KEY}"

 
response = requests.get(url)

 
data = response.json()
columns = data[0]
rows = data[1:]
df = pd.DataFrame(rows, columns=columns)

 
print(df.head())

                      NAME B01003_001E B19013_001E B17001_002E B01001_020E  \
0  Autauga County, Alabama       58239       62660        7847         539
1  Baldwin County, Alabama      227131       64346       20598        3257
2  Barbour County, Alabama       25259       36422        5890         297
3     Bibb County, Alabama       22412       54277        3558         265
4   Blount County, Alabama       58884       52830        7720         589

  B01001_021E B01001_044E B01001_045E B15003_022E B27010_017E state county
0         697         444         947        6507         300    01    001
1        3777        3082        4624       33379        2984    01    003
2         423         199         612        1212         154    01    005
3         363         173         457        1276          94    01    007
4        1100         600        1091        3783         484    01    009

# Resultados Elecciones

In [9]:
# connect to data

election_url = "https://static01.nyt.com/elections-assets/2020/data/api/2020-11-03/national-map-page/national/president.json"

# make an http request for the page
election_request = requests.request(
    method='GET', 
    url=election_url,
    headers={ "Accept": "application/json" }
)

election_response = election_request.json()

election_data = election_response['data']['races']

In [10]:
## parse response into dataframe, and select and rename final columns
election_data_df = pd.DataFrame(election_data)[['state_name', 'counties']].rename(columns={"state_name": "t_state_name"})

# after https://stackoverflow.com/a/49962887
# unnest 'counties' column, turning object keys in dataframe columns and object values into rows, select certain keys from each array, and rename those keys (columns)
election_data_df = pd.DataFrame(
    [
        dict(y, t_state_name=i) for i, x in zip(
            election_data_df['t_state_name'],
            election_data_df['counties']
        ) for y in x
    ]
)[['fips', 'name', 'votes', 't_state_name', 'results']].rename(columns={"fips": "geoid", "votes": "total_votes", "name": "t_county_name"})

# after https://stackoverflow.com/a/38231651
## unravel dictionary (JSON object) into other columns, choose final columns, rename them, and cast their data types
election_data_df = pd.concat(
    [
        election_data_df.drop(['results'], axis=1), 
        election_data_df['results'].apply(pd.Series)
    ], 
    axis=1
)[['geoid', 't_county_name', 'total_votes', 't_state_name', 'trumpd', 'bidenj']].rename(columns={"trumpd": "votes_gop", "bidenj": "votes_dem"}).astype({'votes_gop': 'int64', 'votes_dem': 'int64'})

# create state FIPS codes from the 5-digit 'geoid'
election_data_df['state_fips'] = election_data_df['geoid'].str[:2]

print(election_data_df.shape, election_data_df.dtypes)
election_data_df.head(10)

(3159, 7) geoid            object
t_county_name    object
total_votes       int64
t_state_name     object
votes_gop         int64
votes_dem         int64
state_fips       object
dtype: object

,geoid,t_county_name,total_votes,t_state_name,votes_gop,votes_dem,state_fips
0,02901,ED 1,7360,Alaska,3511,3477,02
1,02910,ED 10,11256,Alaska,8081,2727,02
2,02911,ED 11,10686,Alaska,7096,3130,02
3,02912,ED 12,11280,Alaska,7893,2957,02
4,02913,ED 13,7765,Alaska,4652,2666,02
5,02914,ED 14,11534,Alaska,6714,4261,02
6,02915,ED 15,5593,Alaska,2671,2622,02
7,02916,ED 16,8170,Alaska,3516,4274,02
8,02917,ED 17,7271,Alaska,2810,4136,02
9,02918,ED 18,7759,Alaska,2760,4681,02

In [ ]:
#https://github.com/tonmcg/US_County_Level_Election_Results_08-24/blob/master/2020_US_County_Level_Presidential_Results.ipynb